.self_grp_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
}

.show-none-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
}