.self_grp_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em;
    /* text-align: center; */
}

.show-none-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
}
.container div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}