.signup-box{
    min-height: 100%;
    
    /* padding: 2em;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box .form {
display: flex;
justify-content: center;

align-items: center;
flex-direction: column;
width: 90%;
/* gap: 1em; */
}

@media screen and (max-width: 480px) {
    .signup-box form{
        width: 100%;
    }
  }
