.main_view{
  
    padding: 1em 2em;
}
table{
    width: 100%;
    border: 1px solid green;
    padding: 1em;
    text-align: center;
    
}
th{
    text-align: center;
    border-bottom: 1px solid grey;
}
td{
    padding: 2em;
    border-right: 1px solid gray;
}
tbody{
    padding: 10em;
}

.noclcik_btn{
    cursor: no-drop;
}
.modal{
    display: flex;
}
.grp_name{
    padding-left: 2em;
}

@media screen and (max-width: 480px) {
    .main_view{
        overflow: scroll;
        padding: 1em 0em;
    }
  }